[Unit]
Description=My server
After=network.target

[Service]
ExecStart=/home/ubuntu/demoServer/index.js
WorkingDirectory=/home/ubuntu/demoServer
Restart=always 
User=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
