[Unit]
Description=My server
After=network.target  # Ensure network is up before starting

[Service]
ExecStart=/home/ubuntu/server/demoServer/index.js
WorkingDirectory=/path/to/working-directory  # Optional, the directory where the script runs
Restart=always  # Automatically restart the service on failure
User=root  # The user to run the service as

[Install]
WantedBy=multi-user.target  # Ensure the service starts in multi-user mode (standard mode)
